* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

blockquote {
  padding: 1rem;
  background: #ddd;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: right;
}
